#experience {
    padding-left: 25px;
    padding-top: 25px;

    /*background-color: #f4f4f4;*/
    font-size: 16px;
  }
h3{
  padding-left: 25px;

  text-decoration: underline;


}
  #companyDetails{
    font-size: 12px;
    padding-left: 25px;
    margin: 0px 0; /* Adjusts space above and below */



  }
 