<div id="experience">

  <p><b>I have 4+ years of experience in the analysis, design, development, implementation, and testing of user
      interfaces and software applications with expertise in Angular
 (v14+), JavaScript, TypeScript, and modern web technologies.</b><br /><br />

  I am passionate about building responsive, dynamic, and user-friendly applications 
  with a strong focus on performance optimization, component-driven architecture,
   and state management using RxJS. Proficient in version control (Git, GitHub) and
    UI frameworks like Angular Material and Bootstrap, I thrive in collaborative
     environments where I can contribute to building scalable and maintainable 
     applications.
    I have built multiple personal projects to gain hands-on experience with Angular. 
    <br /><br />

   
    I'm a team player with strong analytical, technical, problem-solving, communication, and interpersonal skills. I can
    collaborate effectively at all levels and work independently or as part of a team.

    I have previously worked as a Software Engineer at Liquid Hub, Classic Informatics, and 4C Plus, handling project
    analysis, design, coding, and testing.

    I am eager to apply my skills in a challenging role that fosters learning and professional growth.


</div>
<h3>Work Experience : </h3>


<div class="experience-container">
  <div class="experience-box" *ngFor="let experience of companyExperience">
    <p><strong>Company Name:</strong> {{ experience.name }}</p>
    <p><strong>Position:</strong> {{ experience.position }}</p>
    <p><strong>Time Duration:</strong> {{ experience.timeDuration }}</p>
    <p><strong>Location:</strong> {{ experience.location }}</p>
  </div>
</div>