  .container {
    display: flex; /* Enables inline positioning */
    gap: 10px; /* Adds space between divs */
    padding: 30px;

  }
  
  .box {
    flex: 1; /* Makes both divs equal width */
    padding: 20px;
    text-align: left;
    padding-top: 0px;

  }
 