
<section id="about">
    <p>4 Years of experience in Analysis, Design, Development, Implementation, and Testing of user interface and experience of software application.<br/><br/>
        Built multiple personal projects to gain hands-on experience with Angular.
       Extensive experience in UI development using - Angular Framework,Type Script, HTML, CSS, JavaScript,Bootstrap,Jquery and Material Design.
       I have worked for 4 years as an iOS Developer, developing iPhone/iPad applications.

       Currently, I am working as a Management Officer volunteer at Lanier Tech.

       <br/><br/>
       Team Player with good analytical, technical, problem solving, communication and interpersonal skills, with ability to interact with individuals at all levels and can work as a part of a team as well as independently.
       </p>
  </section>