  .container {
    display: flex; /* Enables inline positioning */
    gap: 10px; /* Adds space between divs */
    padding-left: 30px;
    padding-top: 35px;
    flex-wrap: nowrap; /* Or wrap if needed */



  }
  
  .box {
    padding-left: 15px;
    text-align: left;
    padding-top: 0px;
    text-align:top;
width:500px;
flex: 1;


  }
  .link{
    flex: 1;

    padding-left: 0px;

    width:500px;
    height: 100px;




  }
 