<div class="container">
    <div class="profile-img">
        <!--  <img src="https://i.imgur.com/YZdZz90.jpg" alt="Imgur Image" width="250">-->
        <img src="https://i.imgur.com/kUe1LMY.jpg" alt="Imgur Image" width="250">

        
    </div>
    <div class="box">
        <p><strong>Name:</strong> {{ profile.name }}</p>
        <p><strong>Technology:</strong> {{ profile.description }}</p>
        <p><strong>Gender:</strong> {{ profile.gender }}</p>
        <p><strong>Nationality:</strong> {{ profile.nationality }}</p>
        <p><strong>Location:</strong> {{ profile.location }}</p>
        <p><strong>GitHub: </strong><a href={{profile.githublink}} target="_blank">github.com/in/yourprofile</a></p>
        <p><strong>LinkedIn: </strong><a href={{profile.LinkedIn}} target="_blank">LinkedIn.com/in/yourprofile</a></p>
        <p><strong>Portfolio: </strong><a href={{profile.portfoliolink}} target="_blank">LinkedIn.com/in/yourprofile</a></p>
    </div>
</div>