
  <div class="certification-container">
    @for (educationdata of education; track educationdata.degree) {
      <div class="certification-card">
        <div class="certification-info">
          <p><strong>🎓 Degree/Qualification:</strong> {{ educationdata.degree }}</p>
          <p><strong>University:</strong> {{ educationdata.University }}</p>
          <p><strong>College:</strong> {{ educationdata.school }}</p>
          <p><strong>Location:</strong> {{ educationdata.location }}</p>
          <p><strong>Year of Graduation:</strong> {{ educationdata.YearofGraduation }}</p>
          
        </div>
        
      </div>
    }
  </div>