<div class="project-container">
  @for (project of projects; track project.name) {
  <div class="project-card">
    <div class="project-info">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <img [src]="project.image" alt="Imgur Image" width="300" (click)="toggleZoom(project.image)" /><br>
      <a [href]="project.link" target="_blank" style=" font-size: 14px;">View Source Code</a>
    </div>
  </div>
  }
</div>

<!-- Zoomed Image Overlay -->
<div class="zoom-overlay" *ngIf="zoomedImage" (click)="toggleZoom()">
  <img [src]="zoomedImage" class="zoomed-img">
</div>