

    <div id="projects" *ngFor="let project of projects">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
      <img [src]="project.image" alt="{{ project.name }}" width="200"
      class="zoom-thumbnail"
      (click)="toggleZoom(project.image)"><br/>
      <a [href]="project.link" target="_blank">View Project</a>
    </div>

   <!-- Zoomed Image Overlay -->
   <div class="zoom-overlay" *ngIf="zoomedImage" (click)="toggleZoom()">
    <img [src]="zoomedImage" class="zoomed-img">
  </div>